/* DropdownMenu.css */

.menu-button {
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    background-color: rgba(255, 255, 255, 0.847); 
    border: none;
    color: #333;
    padding: 10px;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(255, 252, 252, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .menu-button:hover {
    background-color: #d2d2d2; 
    color: #555;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
  }
  
  .dropdown-menu-container {
    position: fixed;
    top: 0; /* Desde la parte superior de la pantalla */
    left: -250px; /* Inicialmente fuera de la pantalla */
    height: 100%;
    width: 250px;
    background-color: #474747c3; /* Fondo */
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: left 0.3s ease;
    overflow-y: auto; /* Añadir desplazamiento si el contenido es demasiado grande */
  }
  
  .dropdown-menu-container.open {
    left: 0; /* Mueve el menú a la vista */
  }
  
  .dropdown-menu {
    padding-top: 70px;
    display: flex;
    flex-direction: column; 
  }
  
  .dropdown-menu a {
    display: block;
    padding: 15px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
  
  .dropdown-menu a:hover {
    background-color: #56565688;
    color: #fff8f8;
    border: 1px solid #57575700;
  }
  
  .dropdown-menu a:active {
    background-color: #e0e0e0;
    color: #000;
    border: 1px solid #ccc;
  }
  
  .home-link {
    display: flex;
    align-items: center;
    background-color: #c3651d; /* Color de fondo del botón principal */
    color: #fff;
    text-align: center; 
    font-weight: bold; 
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' a la fuente que desees */
  }
  
  .home-link:hover {
    background-color: #e69119; /* Color de fondo del botón principal al pasar el cursor */
    color: #fff;
  }
  
  .home-link svg {
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  
  .home-icon {
    width: 24px; /* Ajusta el tamaño según sea necesario */
    height: 24px;
    margin-right: 8px; /* Espacio entre el ícono y el texto */
  }
  